# Lab 01 - Data Engineering

## 4.1

In [92]:
import pandas as pd
import numpy as np
import pickle

In [93]:
df = pd.read_csv('lab1_ex01.csv')
json_array = []

type_dict = {"float64": "float", "int64": "int", "object": "other", "bool": "boolean"}

for column in df.columns:
    temp = df.loc[:,column]
    json_array.append([column, temp.isna().sum() / len(temp), type_dict[str(temp.dtype)]])


new_df = pd.DataFrame(json_array, columns=['name', 'missing', 'type'])
new_df.to_json('ex01_fields.json', orient='records')
df

,First column,two,three,SOME;NAME,five,What is this even?,seven,eight
0,0.348554,-0.14509562920877161,-0.012336991474672475,9,red,good,quarrelsome,2016-05-26 09:33:42
1,-1.493853,0.12436946488785079,1.4611100361038865,4,red,bad,doctor,2016-12-03 18:55:52
2,-0.325891,NaN,-0.42191202598625566,2,red,average,large,2016-05-15 11:49:26
3,-0.506596,0.3991147675939107,-0.26502607502330217,5,green,average,muddled,2015-01-30 22:33:29
4,NaN,-0.6913144223047157,-0.26502607502330217,2,blue,good,coordinated,2015-11-20 00:15:35
5,0.527112,2.584347847701393,-0.26502607502330217XYZ,2,blue,good,separate,2017-11-17 09:58:54
6,-1.555290,unknown,-0.7732649697439955,5,green,bad,bright,2017-05-01 10:32:41

## 4.2

In [94]:
import json

json_array_2 = []

dict_answ = {}
# df.describe()
for column in df.columns:
    temp = df.loc[:,column]
    if temp.dtypes == 'float64' or temp.dtypes == 'int64':
        statistics = temp.describe().to_dict()
        dict_answ[column] = statistics
        # print(statistics)
    else:
        statistics = temp.describe().to_dict()
        dict_answ[column] = statistics
        # print(statistics)
        
print(dict_answ)

with open('ex02_stats.json', 'w') as fp:
    fp.write(json.dumps(dict_answ, indent=4))

{'First column': {'count': 6.0, 'mean': -0.5009940002009552, 'std': 0.8839385203395562, 'min': -1.55529041326908, '25%': -1.247038692513933, '50%': -0.4162433767179556, '75%': 0.1799426841401469, 'max': 0.5271122588523375}, 'two': {'count': 6, 'unique': 6, 'top': '-0.14509562920877161', 'freq': 1}, 'three': {'count': 7, 'unique': 7, 'top': '-0.012336991474672475', 'freq': 1}, 'SOME;NAME': {'count': 7.0, 'mean': 4.142857142857143, 'std': 2.544836041121407, 'min': 2.0, '25%': 2.0, '50%': 4.0, '75%': 5.0, 'max': 9.0}, 'five': {'count': 7, 'unique': 3, 'top': 'red', 'freq': 3}, 'What is this even?': {'count': 7, 'unique': 3, 'top': 'good', 'freq': 3}, 'seven': {'count': 7, 'unique': 7, 'top': 'quarrelsome', 'freq': 1}, 'eight': {'count': 7, 'unique': 7, 'top': '2016-05-26 09:33:42', 'freq': 1}}

In [95]:
# arr_numeric = np.array([])
# arr_non_numeric = np.array([])

# for col in df.columns:    
#     column = df[col]
#     if column.dtypes == 'float64' or column.dtypes == 'int64':    
#         arr_numeric = np.append(arr_numeric, [df[col].count(), df[col].mean(), df[col].std(), df[col].min(numeric_only = True), df[col].max(numeric_only = True)])
#     else:
#         arr_non_numeric = np.append(arr_non_numeric, [df[col].count(), df[col].unique(), df[col]., df[col].freq])
        
# print(arr_numeric)
# print(arr_non_numeric)

## 4.3

In [96]:
import re

replace_dict = {}
for column in df.columns:
    column_copy = re.sub(r'[^a-zA-Z0-9_ ]', '', column)
    column_copy = column_copy.lower()
    column_copy = column_copy.replace(" ", "_")
    replace_dict[column] = column_copy

df = df.rename(columns=replace_dict)
df.to_csv('ex03_columns.csv', index=False)
df

,first_column,two,three,somename,five,what_is_this_even,seven,eight
0,0.348554,-0.14509562920877161,-0.012336991474672475,9,red,good,quarrelsome,2016-05-26 09:33:42
1,-1.493853,0.12436946488785079,1.4611100361038865,4,red,bad,doctor,2016-12-03 18:55:52
2,-0.325891,NaN,-0.42191202598625566,2,red,average,large,2016-05-15 11:49:26
3,-0.506596,0.3991147675939107,-0.26502607502330217,5,green,average,muddled,2015-01-30 22:33:29
4,NaN,-0.6913144223047157,-0.26502607502330217,2,blue,good,coordinated,2015-11-20 00:15:35
5,0.527112,2.584347847701393,-0.26502607502330217XYZ,2,blue,good,separate,2017-11-17 09:58:54
6,-1.555290,unknown,-0.7732649697439955,5,green,bad,bright,2017-05-01 10:32:41

## 4.4

In [97]:
df.to_excel('ex04_excel.xlsx', index=False)
df.to_json('ex04_json.json', orient='records')

# save df to pickle
with open('ex04_pickle.pkl', 'wb') as f:
    pickle.dump(df, f)

## 4.5

In [98]:
# load data from pkl
df_pkl = pd.read_pickle('lab1_ex05.pkl')

df_pkl = df_pkl.iloc[:, 1:3]
df_pkl = df_pkl.loc[df_pkl.index.str.startswith('v')].fillna('')

# save to markdown
df_pkl.to_markdown('ex05_table.md')

## 4.6

In [99]:
df_6= pd.read_json('lab1_ex06.json')
df_flat = pd.json_normalize(df_6.to_dict(orient='records'))

with open('ex06_pickle.pkl', 'wb') as f:
    pickle.dump(df_flat, f)
df_flat

,brand,model,year,engine.type,engine.displacement,engine.power,engine.environmental.euro,engine.environmental.filter
0,Audi,A3,2022.0,Gasoline,1.4L,150 hp,NaN,NaN
1,Audi,2023,NaN,Diesel,2.0L,190 hp,6.0,DPF
2,BMW,3 Series,2022.0,Hybrid,2.0L,288 hp,NaN,NaN
3,BMW,X7,2023.0,Gasoline,4.4L,456 hp,NaN,NaN
4,Mercedes-Benz,C-Class,2022.0,Diesel,2.0L,194 hp,NaN,NaN
5,Mercedes-Benz,GLE,2023.0,Hybrid,3.0L,362 hp,NaN,NaN